# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/shiroha-server/build.gradle.kts
/shiroha-api/build.gradle.kts
/folia-server/build.gradle.kts
/folia-server/src/minecraft
/folia-api/build.gradle.kts
/paper-server
/paper-api

.idea/
